.mbox{
    background-color: rgb(253, 253, 253);
    margin-left: 25%;
    margin-right: 25%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.clogin{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

h3{
    color: rgb(0, 0, 0)
}