.App{
  margin:30px;
  margin-right: 30px;
  background-color: rgb(209, 209, 209);
  
 height: 100%;
}

.App
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.App:before, .App:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.App:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.btn{
  position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    transition: .4s;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    color: black;
}

.btn:hover {
  background: #00bcd4;
  color: white;
}


td, th {
    border: 1px solid black;
    width: 300px;
   font-weight: normal;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
  
 }

.link{
  color:rgb(0, 0, 0);
  margin-bottom: 10px;
}
.link:hover{
  text-decoration: none;
}

 .btn{
   margin: 10px;
 }


 th{
     color:black;
     font-weight: bold;
 }

 td{
    
     color: #000000;
 }


 .disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
 

  .name{
    color:rgb(0, 0, 0);
  }
  .name:hover{
    color: hotpink;
    cursor:pointer;
  }
.btn{
  margin-left: 10px;
}
 
  h1{
      color: #ffffff;
      font-family: 'Merriweather', serif;
      background-color: rgb(0, 0, 0);
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  h2{
    font-family: 'Merriweather', serif;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  #next,#previous{
color: #000000;
margin:10px;
  }

  #next{
float: right;

  }
.link:hover{
color:white;
}